.greeting {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.preview,
.addEvent {
  background-color: #237fe2;
  border: none;
  color: #f3f3f3;
  padding: 14px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 30px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.notes {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.Back {
  background-color: #237fe2;
  border: none;
  color: #f3f3f3;
  padding: 14px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 30px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading p {
  font-size: 24px;
  font-weight: bold;
}
